@import "tailwindcss";

:root {
  --archivo: "Archivo", sans-serif;
  --bebas: "Bebas Neue", sans-serif;
  --nav: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
}

.poppins {
  font-family: var(--poppins);
}
.archivo {
  font-family: var(--archivo);
}

.inter{
  font-family: var(--inter);
}
.bebas {
  font-family: var(--bebas);
  letter-spacing: 0.15em;
}

.nav-font {
  font-family: var(--nav);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .nav-link {
    @apply relative transition-colors duration-300;
    font-family: var(--nav);
    font-weight: 500;
  }

  .nav-link::after {
    content: "";
    @apply absolute bottom-0 left-0 w-0 h-0.5 bg-white transition-all duration-300;
  }

  .nav-link:hover::after {
    @apply w-full;
  }




  /* Loader */

  /* loader.css */

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

    position: fixed;
  inset: 0;
  background: rgba(255,255,255,0.8);
  z-index: 9999;
}


.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(#000 0 0);
  --r1: radial-gradient(farthest-side at bottom, #000 93%, #0000);
  --r2: radial-gradient(farthest-side at top, #000 93%, #0000);
  background:
    var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}

@keyframes l2 {
  0%,25% {
    background-size: 8px 0, 8px 4px, 8px 4px,
                     8px 0, 8px 4px, 8px 4px,
                     8px 0, 8px 4px, 8px 4px;
    background-position:
      0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px),
      50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px),
      100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }

  50% {
    background-size: 8px 100%, 8px 4px, 8px 4px,
                     8px 0, 8px 4px, 8px 4px,
                     8px 0, 8px 4px, 8px 4px;
    background-position:
      0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px),
      50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px),
      100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }

  75% {
    background-size: 8px 100%, 8px 4px, 8px 4px,
                     8px 100%, 8px 4px, 8px 4px,
                     8px 0, 8px 4px, 8px 4px;
    background-position:
      0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px),
      50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px),
      100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }

  95%,100% {
    background-size: 8px 100%, 8px 4px, 8px 4px,
                     8px 100%, 8px 4px, 8px 4px,
                     8px 100%, 8px 4px, 8px 4px;
    background-position:
      0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px),
      50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px),
      100% 50%, 100% calc(0% - 2px), 100% calc(100% + 2px);
  }
}

}

